.card-container
{
    display:flex;
    flex-direction: column;
    text-align: justify;
    width: 14rem;
    height: 14rem;
    border-color: coral;
    border-color: var(--tg-theme-button-color);
    border-width: 2px;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 0.375rem;
    position:relative;
}