@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --tg-theme-button-color:orange;
  --tg-theme-bg-color:blue;
  --tg-theme-text-color:black;
  --tg-theme-button-text-color:black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:var(--tg-theme-bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.theme-border
{
  border-color: var(--tg-theme-button-color);
}
.theme-text
{
  color:var(--tg-theme-text-color);
}
.theme-bg
{
  background-color: var(--tg-theme-bg-color);
}
.theme-button-text
{
  color: var(--tg-theme-button-text-color);
}
.theme-button
{
  background-color: var(--tg-theme-button-color);
}